{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}


{% block header_text %}
{% endblock header_text %}

{% block header_poster %}
{% endblock header_poster %}


{% block main %}
{% if request.user.is_superuser %}
<div class="container">
  <h3>Pochta matni</h3>
  <form action="{% url 'send_mail' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea name="text" cols="150" rows="5" placeholder="Matn..."></textarea>
    <button class="btn btn-success" type="submit">Barchaga yuborish</button>
  </form>
</div>
{% endif %}
{% endblock main %}